In [20]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import pprint as pprint
import requests
import json

In [21]:
# Load cyber security breach data set into Pandas
cyber_data = pd.read_csv("source_data/cybersecurity_data.csv")
cyber_data.head()

,Unnamed: 0,Number,Name_of_Covered_Entity,State,Business_Associate_Involved,Individuals_Affected,Date_of_Breach,Type_of_Breach,Location_of_Breached_Information,Date_Posted_or_Updated,Summary,breach_start,breach_end,year
0,141,140,UNCG Speech and Hearing Center,NC,NaN,2300,1/1/1997,Hacking/IT Incident,Desktop Computer,1/23/2014,NaN,1/1/1997,NaN,1997
1,1030,1029,UMass Memorial Medical Center,MA,NaN,2387,5/6/2002,Unauthorized Access/Disclosure,"Electronic Medical Record, Paper",5/27/2014,NaN,5/6/2002,NaN,2002
2,212,211,Riverside Mercy Hospital and Ohio/Mercy Diagno...,OH,NaN,1000,3/29/2003,Improper Disposal,Paper,1/23/2014,NaN,3/29/2003,NaN,2003
3,272,271,SW General Inc,AZ,NaN,566,5/1/2004,Theft,Paper,1/23/2014,NaN,5/1/2004,NaN,2004
4,223,222,OhioHealth Corporation dba Grant Medical Center,OH,NaN,501,1/1/2008,Theft,"Laptop, Desktop Computer",1/23/2014,NaN,1/1/2008,NaN,2008

In [22]:
# Count the number of rows of data in data set 
len(cyber_data)

1055

In [23]:
# Extract the relevent columns from the inital data set
cyber_columns = cyber_data[["Number", "State", "year", "Date_of_Breach"]]
cyber_columns.head()

   Number State  year Date_of_Breach
0     140    NC  1997       1/1/1997
1    1029    MA  2002       5/6/2002
2     211    OH  2003      3/29/2003
3     271    AZ  2004       5/1/2004
4     222    OH  2008       1/1/2008

In [24]:
# Rename columns to better describe the data set
cyber_columns_renamed = cyber_columns.rename(columns={"Number": "Breach ID", "year": "Year","Date_of_Breach": "Full Date"})
cyber_columns_renamed.head()

   Breach ID State  Year  Full Date
0        140    NC  1997   1/1/1997
1       1029    MA  2002   5/6/2002
2        211    OH  2003  3/29/2003
3        271    AZ  2004   5/1/2004
4        222    OH  2008   1/1/2008

In [25]:
# Remove rows that contain data from states outside the continental US (Alaska, Hawaii, and Puerto Rico)
# Note this data set includes DC, need to find out if wildfire data contains DC or not, kept it in cyber dataframe for now

cyber_data_clean = cyber_columns_renamed.loc[ (cyber_columns_renamed["State"] != "AK") & (cyber_columns_renamed["State"] != "HI") & (cyber_columns_renamed["State"] != "PR") ]
cyber_data_clean.head()

   Breach ID State  Year  Full Date
0        140    NC  1997   1/1/1997
1       1029    MA  2002   5/6/2002
2        211    OH  2003  3/29/2003
3        271    AZ  2004   5/1/2004
4        222    OH  2008   1/1/2008

In [26]:
# Count number of rows of cleaned data to make sure irrelevant rows were removed
len(cyber_data_clean)

1018

In [27]:
# Write the cleaned data to a new CSV file called 'cyber_data_clean.csv'
cyber_data_clean.to_csv("source_data/cyber_data_clean.csv")