In [8]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import pprint as pprint
import requests
import json

In [12]:
# Load crime data set into pandas
cyber_data = pd.read_csv("cybersecurity_data.csv")
cyber_data.head()

Unnamed: 0                          1055
Number                              1055
Name_of_Covered_Entity              1055
State                               1055
Business_Associate_Involved          271
Individuals_Affected                1055
Date_of_Breach                      1055
Type_of_Breach                      1055
Location_of_Breached_Information    1055
Date_Posted_or_Updated              1055
Summary                              142
breach_start                        1055
breach_end                           145
year                                1055
dtype: int64

In [13]:
# Extract the relevent columns from the inital data set
cyber_columns = cyber_data[["Number", "State", "year"]]
cyber_columns.head()

Number    1055
State     1055
year      1055
dtype: int64

In [18]:
# Rename columns to better describe the data set
cyber_columns_renamed = cyber_columns.rename(columns={"Number": "Breach ID", "year": "Year"})
cyber_columns_renamed.head()

   Breach ID State  Year
0        140    NC  1997
1       1029    MA  2002
2        211    OH  2003
3        271    AZ  2004
4        222    OH  2008